{% extends "accounts/dashboard.html" %}
{% block content %}

<h2 class="text-3xl font-semibold mb-10">Account Settings</h2>

<div class="bg-white p-8 rounded-2xl shadow max-w-xl">

  <form method="POST">
    {% csrf_token %}

    <label class="block mb-2">Phone</label>
    <input type="text" name="phone"
           value="{{ request.user.phone }}"
           class="w-full border rounded-lg p-3 mb-6">

    <label class="block mb-2">Income Range</label>
    <select name="income_range"
            class="w-full border rounded-lg p-3 mb-6">
      <option value="">Select</option>
      <option value="<5L">Below 5L</option>
      <option value="5-10L">5–10L</option>
      <option value="10-25L">10–25L</option>
      <option value="25L+">25L+</option>
    </select>

    <button class="bg-cyan-500 text-white px-6 py-3 rounded-lg">
      Save Changes
    </button>

  </form>

</div>

{% endblock %}
